
$h2-font-size:                $font-size-base * 1.8;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1.2;
$h5-font-size:                $font-size-base * 1.15;
$h6-font-size:                $font-size-base;


$h1-font-size: $h1-font-size *0.8;