{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="container">
    <article class="row">
        <h1>{{content.name}}</h1>
        {{content.content | raw}}    
    </article>
</div>
{% endblock %}
